*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

:root{
    
}

body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    isolation: isolate;
    margin: 0;
    font-family: sans-serif;
    height: auto;
   
    
}

body::after {
    background-image: linear-gradient(rgba(243, 12, 32, 0.7), rgba(210, 10, 228, 0.4)),url("./puzzle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.8;
    
    -webkit-animation: Animation 50s linear infinite;
    -moz-animation: Animation 50s linear infinite;
    animation: var(--ccAfter, Animation 50s linear infinite);
}

@-webkit-keyframes Animation {
    0% {
        background-image: 10% 0%
    }

    50% {
        background-image: 91% 100%
    }

    100% {
        background-image: 10% 0%
    }
}

@-moz-keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@keyframes Animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

/* HEADING */
h1{
    font-size: 5em;
    letter-spacing: 3px;
    margin-bottom: 2vh;
}

a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width:720px){
h1 {
        font-size: 3em;
        
    }


}

#inital-display{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.5vh ;
}

/* SEARCH SECTION */
#searching{
    background-color: rgba(195, 195, 197, 0.6); 
    border-radius: var(--radius);
    display: flex;
    flex-direction: row;
    width: 60%;
    max-width: 600px;
    
    
    
    border-radius: 10px;
}

#searchBox{
    margin: 20px 0 20px 20px;
    width: 80%;
    resize: vertical;
    border-radius:10px;
    padding: 10px;
    text-indent: 5px;
    text-overflow: ellipsis;
    border: none;
    
}

#searchBox:focus{
    /* background-color: rgb(158, 101, 223);
    color: white; */
    outline: 0;
    border: 1px solid purple;
    
}

/* #searchBox:focus{
    
} */

/* OPTIONS */
#options{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.more-info{
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    padding: 2px 5px;
    background-image: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    background-color: rgb(227, 226, 226);
    border: 0.5px solid black;
}

.more-info:hover{
    background-image: linear-gradient(rgba(243, 12, 32, 0.7), rgba(210, 10, 228, 0.6));
        color: seashell;
        transition: 750ms;
}

#button{
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
    padding: 3px 6px;
    background-image: linear-gradient(rgba(243, 12, 32, 0.7), rgba(210, 10, 228, 0.6));
    border: none;
    
}

#button:hover{
    background-image: linear-gradient(rgba(243, 12, 32, 1), rgba(210, 10, 228, 1));
    color: seashell;
    transition: 650ms;
    border: 1px solid black;
}

@media only screen and (max-width:720px) {
    #searchBox{
        padding: 5px;
    }
}

@media only screen and (max-width:350px) {
    #searching {
        min-width: 250px;

    }
    
}

/* INFO */
#info{
    width: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px ;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10vh;
    
}

audio{
    margin: 10px auto;
    width: 35%;
    height: 20px;
    display: none;
    
}

audio::-webkit-media-controls-panel{
    background-image: linear-gradient(rgba(243, 12, 32, 0.5), rgba(210, 10, 228, 0.4))
}


#meaning{
    
    height: auto;
    margin-top: 5vh;
    font-size: 2.5em;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-decoration: underline;
    
}

#definitions{
    height: auto; 
   
}

section{
    display: flex;
    flex-direction: row;
    
}

h4{
    width: 110px;
   
    margin: auto 0;

}

p{
    width: 100%;
    margin: 20px;
    
}

@media only screen and (max-width:720px) {
   #meaning{
    font-size: 1.5em;
   }
   p{
    font-size: 16px;
   }
}

