*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

:root{
    
}

body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    isolation: isolate;
    margin: 0;
    font-family: sans-serif;
   
    
}

body::after {
    background-image: linear-gradient(rgba(243, 12, 32, 0.7), rgba(210, 10, 228, 0.6)),url("./puzzle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.8;
    
    max-height: 500vh;
}

/* HEADING */
h1{
    font-size: 5em;
    letter-spacing: 3px;
    margin-bottom: 2vh;
}

@media only screen and (max-width:720px){
h1 {
        font-size: 3em;
        
    }


}

#inital-display{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* SEARCH SECTION */
#searching{
    background-color: rgba(195, 195, 197, 0.6); 
    border-radius: var(--radius);
    display: flex;
    flex-direction: row;
    width: 60%;
    
    margin-bottom: 7vh;
    
    border-radius: 10px;
}

input{
    margin: 20px 0 20px 20px;
    width: 80%;
    resize: vertical;
    border-radius:10px;
    padding: 10px;
    text-indent: 5px;
    text-overflow: ellipsis;
}

input:focus{
    /* background-color: rgb(158, 101, 223);
    color: white; */
}

/* input:focus{
    
} */

button{
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
    padding: 3px 6px;
    background-image: rgba(255,255,255,0.9);
    transition: background-image 1s ease-in;
    -webkit-transition: background-image 1s ease-in;
    -moz-transition: background-image 1s ease-in;
    -o-transition: background-image 1s ease-in;
}

button:hover{
    background-image: linear-gradient(rgba(243, 12, 32, 0.7), rgba(210, 10, 228, 0.6));
    color: seashell;
    
}

@media only screen and (max-width:720px) {
    input{
        padding: 5px;
    }
}

@media only screen and (max-width:350px) {
    #searching {
        min-width: 250px;

    }
    
}

/* INFO */
#info{
    width: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px ;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 10vh;
    
}

audio{
    margin: 10px auto;
    width: 50%;
    height: 20px;
    display: none;
    
}


#meaning{
    
    height: auto;
    padding-top: 10px;
    font-size: 2.5em;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-decoration: underline;
    
}

#definitions{
    height: auto; 
   
}

section{
    display: flex;
    flex-direction: row;
    
}

h4{
    width: 110px;
   
    margin: auto 0;

}

p{
    width: 100%;
    margin: 20px;
    
}

@media only screen and (max-width:720px) {
   #meaning{
    font-size: 1.5em;
   }
   p{
    font-size: 16px;
   }
}

